*{
font-family: 'Montserrat', sans-serif;
}



.card-img-modified {
    aspect-ratio: 1 / 1;
  }
  
  .card-img {
    max-width: 395px;
  }
  .card-img-modified img {
    object-fit: cover;
  }

  .pointer {
    cursor: pointer;
  }

  .menu{
    height: 500px;
  }

  .start{
    color: red;  
  }

  .superhost{
    min-width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 5px;
    font-family: 'Mulish', sans-serif;

}

.stars{
  display: flex;
  align-items: center;
    
}

/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/