*{
font-family: 'Montserrat', sans-serif;
}

.info{
  font-family: 'Mulish', sans-serif;
  padding-top: 5px;
}

.card-img-modified {
    aspect-ratio: 1 / 1;
  }
  
  .card-img {
    max-width: 395px;
  }
  .card-img-modified img {
    object-fit: cover;
  }

  .pointer {
    cursor: pointer;
  }

  .menu{
    height: 500px;
  }

  .start{
    color: red; 
  }

  .stays{
    font-weight: bold;
  }


/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/